* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background-image: url(https://t3.ftcdn.net/jpg/04/10/86/00/360_F_410860050_KFa8KFnP2akFzOT7DjokBmf7rHChroh2.jpg);
}

header {
	background-image: url('header-bg.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
	margin-bottom: 2rem;
	width: 100%;
}

nav ul {
	padding: 20px;
	border-radius: 50px;
	margin: 0 auto;
	width: max(50%, 257px);
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 1rem;
	background-color: rgba( 0, 0, 0, 0.5);
}

nav ul li {
	width: 50%;
	flex: 0 1 auto;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: max(100%, 15px);
	transition: all 0.3s ease-in-out;
	border-bottom: 2px solid transparent;
}

nav ul li a:hover {
	color: #eee;
	border-bottom: 2px solid #eee;
}

.logo {
	width: 20%;
	height: auto;
	border: solid rgb(22, 218, 224) 3px;
	border-radius: 50%;
	min-width: 200px;
}

.header-text {
	text-align: center;
}

.header-text h1 {
	font-size: max(8vw, 50px);
	margin-bottom: 1rem;
	color: #fff;
	text-shadow: 3px 5px 0px rgba(0, 0, 0, 1);
	font-family: 'Bangers', cursive;
}

.header-text p {
	font-size: max(2vw, 20px);
	margin-bottom: 2rem;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn {
	display: inline-block;
	padding: 1rem 2rem;
	background-color: #ff0066;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #ff3385;
	cursor: pointer;
}

section {
	padding: 5rem 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

section .btn {
    display: block;
    margin: 5%;
}

h2 {
	font-size: max(4vw, 25px);
	font-weight: 500;
	text-align: center;
	margin-bottom: 2rem;
	color: #ff0066;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-width: 100px;
}

ul li {

	flex-basis: calc(33.33% - 2rem);
	text-align: center;
}

ul li img {
	max-width: 100%;
	height: auto;
}

ul li h3 {
	font-size: 1.5rem;
	margin-top: 1rem;
	font-weight: 500;
	color: #444;
}

ul li p {
	font-size: 1.2rem;
	margin-top: 1rem;
	line-height: 1.5;
	color: white;
}

#features ul {
	flex-direction: column;
	width: 25%;
	justify-content: center;
	margin: 0 auto;
	gap: 30px;
}

#features ul li {
	background-color: rgba( 0, 0, 0, 0.5);
	padding: 5px;
	border-radius: 5%;
}